<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>New Customer</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>General Information </h2>
          <ul class="nav navbar-right panel_toolbox">

          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form class="form-horizontal form-label-left input_mask">

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess2" ng-model="newCustomerObject.name" placeholder="First Name">
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control" id="inputSuccess3" placeholder="Last Name" ng-model="newCustomerObject.lastName">
              <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Email" ng-model="newCustomerObject.email">
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control" id="inputSuccess5" placeholder="Phone" ng-model="newCustomerObject.phon">
              <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control" id="inputSuccess5" placeholder="Address" ng-model="newCustomerObject.addressLine1">
              <span class="fa fa-home form-control-feedback right" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control" id="inputSuccess5" placeholder="City" ng-model="newCustomerObject.city">
              <span class="fa fa-home form-control-feedback right" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control" id="inputSuccess5" placeholder="State" ng-model="newCustomerObject.state">
              <span class="fa fa-home form-control-feedback right" aria-hidden="true"></span>
            </div>


            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-12 col-md-offset-5">
                <button type="button" class="btn btn-primary" ng-click="cancelCustomerSave()">Cancel</button>

                <button type="submit" class="btn btn-success" ng-click="saveNewCustomer()">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>






</div>